.App {
  text-align: center;
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.Counter {
  width: 150px;
  height: 100px;
}

.Counter .Buttons {
  display: flex;
  justify-content: space-between;
}

.Counter div:not(:last-child) {
  margin-bottom: 20px;
}
